fieldset{
    width: 300px;
    margin: 0 auto;
    padding: 30px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qrcode-container{
    display: none;
}

.form-group{
    margin-bottom: 10px;
}

.inputLevel{
    border: none;
    outline: none;
    width: 65px;
    font-weight: bold;
}
input{
    outline: none;
}

.qrcode img{
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(67, 67, 68, 0.25);
  padding: 4px;
}

button{
    margin:5px 0px 40px 0px;
    padding: 10px 20px;
    cursor: pointer;
}

#inputFieldtxt11{
    padding-right: 10px;
}
